[Desktop Entry]
Version=1.5
Name=IDLE
GenericName=Python IDE
Comment=Integrated Development and Learning Environment
Categories=Development;Building;Debugger;IDE;Profiling;Viewer;ComputerScience;TextEditor;Documentation;
Keywords=python;idle;ide;development;editor;repl;console;browser;modules;
MimeType=x-idle;x-python;x-python3;
Icon=/usr/lib/python3.10/idlelib/Icons/idle_48.png
Type=Application
TryExec=idle
Exec=idle
Terminal=false
StartupNotify=false
